<h1 align="center">UpdateCoustomer Coustomer</h1>
<div class="container">
    <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="form-group">
            <input
                type="input"
                formControlName="name"
                class="form-control"
                [(ngModel)]="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                placeholder="Enter The Consultant Name"
            >
            <div
                *ngIf="submitted && f.name.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.name.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">

            <select
                [ngClass]="{ 'is-invalid': submitted && f.multiSelect.errors }"
                formControlName="multiSelect"
                id="multi-select-demo"
                class="form-control"
                multiple="multiple"
                [(ngModel)]="customer"
            >
                <ng-container *ngIf="dropdownData.length !== 0">
                    >
                    <ng-container *ngFor="let item of dropdownData ;">
                        >
                        <option
                            [value]="item.id"
                            [selected]="item.selectedTure == item.id"
                        >
                            {{ item.name }}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
            <div
                *ngIf="submitted && f.multiSelect.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.multiSelect.errors.required">Consultant is required</div>
            </div>
        </div>
        <br>
        <button
            type="submit"
            class="btn btn-primary"
        >
            Submit
        </button>
    </form>
</div>
